*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

.container{
    position:relative;
    width:500px;
    height:500px;
}

.photo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:170px;
    height:170px;
    border-radius:50%;
    overflow:hidden;
    border:5px solid #fff;
    z-index:100;
    box-shadow:0 0 25px red;
}

.photo img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.heart-text{
    position:absolute;
    color:#ff0033;
    font-size:14px;
    font-weight:bold;
    user-select:none;
    text-shadow:0 0 10px red;
}

h1{
    position:absolute;
    width:100%;
    bottom:15px;
    text-align:center;
    color:#fff;
    font-size:32px;
    text-shadow:0 0 20px red;
    animation:blink 1s infinite;
}

@keyframes blink{
    50%{
        opacity:.4;
    }
}
.love-btn{
    position:absolute;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    padding:15px 35px;
    background:#ff2d55;
    color:#fff;
    border:none;
    border-radius:40px;
    font-size:20px;
    cursor:pointer;
    box-shadow:0 0 20px red;
    z-index:200;
}

#messageBox{
    display:none;
    position:absolute;
    top:360px;
    left:50%;
    transform:translateX(-50%);
    width:320px;
    background:rgba(255,255,255,.95);
    color:#111;
    padding:18px;
    border-radius:15px;
    text-align:center;
    z-index:200;
    box-shadow:0 0 20px red;
}

#messageBox p{
    margin:0;
    font-size:18px;
    line-height:1.7;
}
